.navbar{
    position:absolute;
    width: 100%;
    background-color: #1548cc;
    font-size: 72px;
}
.Navbar{

}.Toggle{
    color:white;
}
.pageName{
    color:white;
}
.ONav{
    background-color: #2D39A3;
}
.HNavIcon{
    color:white;
}
.loginButton{
    color:white;
    font-size: 72px;
    left:10%;
}