.CreateQuiz{
    margin: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius:50px;
    color:white;
    background-color:#5200FF;
    padding-top: 2%;
}

.QInputs{ 
  width: 90%;
  background-color: #5200FF;
  color: white;
  margin: 5px auto;
  margin-left: 4%;

}

.Questions{
    color: yellow;    
    text-align: center;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: #1F0061;
    border-bottom-style: solid;
}

.Qbox{    
    background-color: #1F0061;
    padding: 2%;
    border-radius:50px;
    width: 90%;
    margin: auto;
}

.button{ 
    width: 80%;
    margin: 5px auto;
    margin-left: 10%;
}