.HomePage{
    height:auto;
    width:auto;
    position:absolute;
    white-space: nowrap;
}
.Knowledge_Check{
    padding-top: 56px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 24px;
    text-align: center;
    color:#557ADA;
}
.KCLogoPic{
    position: relative;
    padding-top: 10%;
    width: auto;
    height: auto;
}
.selectionOval1{
    width: 200px;
    height: 100px;
    top:5%;
    border-radius:50px;
    position:relative;
    background-color:#557ADA ;
}
.selectionOval2{
    width: 400px;
    height: 400px;
    border-radius:50px;
    position:relative;
    left: 20%;
    bottom: 75%;
    background-color:#557ADA ;
}
.ovalText{
    font-size:40px;
    position: relative;
    text-align: center;
    color:#E3F6F8;
}
.MainPageContents{
    text-align:center;
    left: 50%;
}
.Ovals{
    padding-top:30%;
}